<div>
    <div style="float: left">
        <img id="Image4" src="@Url.Content("~/Content/Images/shortABout.png")" alt=""/>
    </div>
    <div style="float: right">
        @Html.Partial("~/Views/Account/LogOn.cshtml")
    </div>
</div>
<div>
    <img id="Image4" src="@Url.Content("~/Content/Images/shortProcess.png")" alt=""/>
</div>
