@model  CangooruMVC.Models.OrderModel
<div style="font-size: 20px; letter-spacing: -1px; padding: 10px; font-weight: bold">
    Minhas Entregas
</div>
<div style="padding: 10px;">
    <table style="border-color: #CCCCCC -moz-use-text-color -moz-use-text-color #CCCCCC;
        border-style: solid; border-width: 1px 0 0 1px; width: 100%; -moz-border-radius: 4px;
        border-radius: 4px;">
        <thead>
            <tr>
                <th style="font-size: 16px; letter-spacing: -1px; border-bottom: 1px solid #CCCCCC;
                    border-right: 1px solid #CCCCCC;padding:4px">
                    Local de Retirada
                </th>
                <th style="font-size: 16px; letter-spacing: -1px; border-bottom: 1px solid #CCCCCC;
                    border-right: 1px solid #CCCCCC;padding:4px">
                    Local de Entrega
                </th>
                <th style="font-size: 16px; letter-spacing: -1px; border-bottom: 1px solid #CCCCCC;
                    border-right: 1px solid #CCCCCC;padding:4px">
                    Data e Hora de Retirada
                </th>
                <th style="font-size: 16px; letter-spacing: -1px; border-bottom: 1px solid #CCCCCC;
                    border-right: 1px solid #CCCCCC;padding:4px">
                    Data e Hora de Entrega
                </th>
                <th style="font-size: 16px; letter-spacing: -1px; border-bottom: 1px solid #CCCCCC;
                    border-right: 1px solid #CCCCCC; padding: 4px;">
                    Entrega Expressa
                </th>
            </tr>
        </thead>
    </table>
</div>
